#page{
    background-color: black;
    color:white;
}

#page * {
    border: 10px solid royalblue;
    background-color: gray;
    margin: 30px;
    padding: 30px;
}

#page2 {
    background-color: black;
    color: white;
}

#page2 * {
    border: 10px solid royalblue;
    background-color: gray;
    margin: 30px;
    padding: 30px;
    margin-top: 30px;

}

