h1 {
    border: 3px solid green;
    padding: 1px;
    margin-right: 2px;
    border-radius: 20px;
}

h1 * {
    border: inherit;
    padding: inherit;
    margin-right: inherit;
    border-radius: inherit;
}


p{
    background-color: blue;
    color: white;
}
span{
    background-color: red;
    
}
