a {

border: 1px solid #3c4043;
box-sizing: border-box;
cursor: pointer;
font-size: 14px;
pointer-events: auto;
position: absolute;
width: 150px;

padding: 7px 11px;
height: 36px;
border-radius: 20px;
color: #8ab4f8;
line-height: 22px;
text-align: center;
letter-spacing: 0.3px;
text-decoration:underline;

}
