section{
    background-color: pink;
}

div{
    width: 250px;
    height: 250px;
    color: white;
    background-color: black;
    border: 1px solid lightcyan;
    padding: 20px;
}

#bloco1{
    margin-left: 30px;
}

#bloco2{
    margin-left: 350px;
    margin-top: -253px;
    padding: 100px;

}